<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scientist - Paper</title>

    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">

</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->

        <%- include('./sidebar', {"sidebarItem" : "paperStatistic"}); %>

        <!-- end side bar -->

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <%- include('../layout/topbar'); %>
                <div class="container-fluid">
                    <h1 class="h3 mb-2 text-gray-800">Papers statistic</h1>
                    
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex justify-content-between">
                            <div>
                                    <!-- 3 Function for paper statistic -->
                                    <div class="row">
                                        <div class="col-5">
                                            <form action="/views/author/total_papers_in_x_years" method="POST">
                                                <div class="form-group">
                                                    <label><b>Statistic papers in x years:</b></label>
                                                    <input type="text" class="form-control" id="years" name="years" placeholder="Enter x"/> 
                                                </div>
                                                <button class="btn btn-info me-md-2" type="submit">Submit</button>
                                            </form>
                                        </div>
                                        <div class="col-5">
                                            <form action="/views/author/total_research_papers_in_x_years" method="POST">
                                                <div class="form-group">
                                                    <label><b>Statistic research papers in x years:</b></label>
                                                    <input type="text" class="form-control" id="years" name="years" placeholder="Enter x"/> 
                                                </div>
                                                <button class="btn btn-info me-md-2" type="submit">Submit</button>
                                            </form>
                                        </div>
                                        <div class="col-5">
                                            <form action="/views/author/total_overview_papers_in_x_years" method="POST">
                                                <div class="form-group">
                                                    <label><b>Statistic overview papers in x years:</b></label>
                                                    <input type="text" class="form-control" id="years" name="years" placeholder="Enter x"/> 
                                                </div>
                                                <button class="btn btn-info me-md-2" type="submit">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- End 3 function for paper statistic -->
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="paperTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Sent year</th>
                                            <th>Paper amount</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (var i=0; i < data.length; i++) { %>
                                            <tr>
                                                <td>
                                                    <%= data[i].sent_year %>
                                                </td>
                                                <td>
                                                    <%= data[i].total_paper %>
                                                </td>
                                                <td>
                                                    <a href="/views/author/paper/<%=data[i].id%>" class="btn btn-block"><i
                                                        class="fa fa-angle-double-right"></i></a>
                                                </td>
                                            </tr>
                                            <% } %>
                    
                                    </tbody>
                                </table>
                            </div>
                            <!-- <button class="btn btn-success" type="button" id="getAllPapers" style="margin-left: 20px;">Get all papers</button> -->
                        </div>
                    </div>   
                </div>                    
               
            
            <footer class="sticky-footer bg-white">
                <%- include('../layout/footer') %>
            </footer>
        </div>
    </div>



    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

     <!-- Bootstrap core JavaScript-->
     <script src="vendor/jquery/jquery.min.js"></script>
     <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 
     <!-- Core plugin JavaScript-->
     <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
 
     <!-- Custom scripts for all pages-->
     <script src="js/sb-admin-2.min.js"></script>
 
     <!-- Page level plugins -->
     <script src="vendor/datatables/jquery.dataTables.min.js"></script>
     <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#paperTable').DataTable();
        });

    </script>

    <!-- <script src="vendor/chart.js/Chart.min.js"></script>
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script> -->

</body>

</html>