<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scientist - Paper</title>

    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <%- include('../layoutEditor/sidebar', {active_bar: 'assignReview'}) %>

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <%- include('../layoutEditor/topbar'); %>
                <div class="container-fluid">                   
                       
                            
                         <div>
                            <form action="/views/editor/assignReviewAfter" method="POST"> 
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="papers">Paper:</label>                                                        
                                            <input type="text" name="paperId" style="width: 100%;" value="<%= paperId %>"/>
                                        </div> 
                                    </div>
                                      
                                    <div class="col-4">
                                        <% var i = 0; %>                   
                                        <% result[0].forEach((reviewer) => { %>
                                            <% i++; %>
                                            <div class="form-group">
                                                <label for="reviewer<%= i %>">Reviewer <%= i %></label>                                                    
                                                <input id="reviewerDisabled" style="width: 100%;" type="text" name="reviewer<%= i %>" value="<%= reviewer.reviewer_id %>" disabled/>
                                            </div>
                                        <% }) %>
                                        <% if (i < 3) %>
                                        <%      i++;                 %>
                                        <%      for (i; i < 4; ++i) {%>
                                                    <div class="form-group">
                                                        <label for="papers">Reviewer <%= i %></label>                                                        
                                                        <select id="reviewer<%= i %>" name="reviewer" style="width: 100%">
                                                            <option value="-1">Please choose a reviewer</option>
                                                            <%  result[1].forEach(function (reviewer) { %>
                                                                <option value=<%= reviewer.s_id %>> <%= reviewer.s_id %> </option>
                                                            <% }) %>                                                                                                                                                                                    
                                                        </select>
                                                    </div>      
                                        <%      } %>

                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            <button id='selectPaperBtn' class="btn btn-info me-md-2" type="submit" style="margin-right: 5px;">Submit</button>
                                            <!-- <button class="btn btn-primary" type="button">Go back</button> -->
                                        </div>
                                    </div>       
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="reviewing-date">Reviewing date (YYYY-MM-DD)</label>  <br> 
                                            <% if (result[2].length == 0 || result[2][0].reviewing_date == '') { %>                                                                                             
                                                <input style="width: 100%;" id ="reviewing-date" type="text" name="reviewing_date" placeholder=""/>                                                 
                                            <% } else { %>
                                                <input style="width: 100%;" id ="reviewing-date" type="text" name="reviewing_date" value="<%= result[2][0].reviewing_date.substring(0, 10) %>"/>
                                            <% } %>
                                        </div>
                                    </div>          
                                </div>
                         
                            </form>                      
                                                         
                         </div>
                                                                                 
                                             
                        
                    </div>
                <!-- </div>    -->
            </div>                    
               
            
            <footer class="sticky-footer bg-white">
                <%- include('../layoutEditor/footer') %>
            </footer>
        </div>
    </div>



    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

     <!-- Bootstrap core JavaScript-->
     <script src="vendor/jquery/jquery.min.js"></script>
     <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 
     <!-- Core plugin JavaScript-->
     <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
 
     <!-- Custom scripts for all pages-->
     <script src="js/sb-admin-2.min.js"></script>
 
     <!-- Page level plugins -->
     <script src="vendor/datatables/jquery.dataTables.min.js"></script>
     <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#paperTable').DataTable();
        });

    </script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <script>
        $('#reviewer1').select2();
        $('#reviewer2').select2();
        $('#reviewer3').select2();
    </script>

    <!-- <script src="vendor/chart.js/Chart.min.js"></script>
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script> -->

</body>

</html>