<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scientist - Paper</title>

    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <%- include('./sidebar', {active_bar: 'editorPapresByType'}) %>

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <%- include('../layout/topbar'); %>
                <div class="container-fluid">                
                    <!-- <h1 class="h3 mb-2 text-gray-800">Tables</h1>
                    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p> -->
                    
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">All papers by type and status</h6>                           
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="paperTableByTypeAndResult" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Title</th>
                                            <th>Summary</th>
                                            <th>Associated file</th>
                                            <th>Page number</th>
                                            <th>Author</th>
                                            <th>Send date</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (var i=0; i < data.length; i++) { %>
                                            <tr>
                                                <td>
                                                    <%= data[i].id %>
                                                </td>
                                                <td>
                                                    <%= data[i].title %>
                                                </td>
                                                <td>
                                                    <%= data[i].summary %>
                                                </td>
                                                <td>
                                                    <%= data[i].associated_file %>
                                                </td>
                                                <td>
                                                    <%= data[i].page_count %>
                                                </td>
                                                <td>
                                                    <%= data[i].sent_by %>
                                                </td>
                                                <td>
                                                    <%= data[i].sent_date.substring(0, 10) %>
                                                </td>
                                                <td>
                                                    <a href="/views/editor/paper/<%=data[i].id%>" class="btn btn-block"><i
                                                        class="fa fa-angle-double-right"></i></a>
                                                </td>
                                            </tr>
                                            <% } %>
                    
                                    </tbody>
                                </table>
                            </div>                            
                        </div>
                    </div>                     
                </div>                                                                                                                    
            </div>                    
               
            
            <footer class="sticky-footer bg-white">
                <%- include('../layout/footer') %>
            </footer>
        </div>
    </div>



    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


     <!-- Bootstrap core JavaScript-->
     <script src="vendor/jquery/jquery.min.js"></script>
     <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 
     <!-- Core plugin JavaScript-->
     <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
 
     <!-- Custom scripts for all pages-->
     <script src="js/sb-admin-2.min.js"></script>
 
     <!-- Page level plugins -->
     <script src="vendor/datatables/jquery.dataTables.min.js"></script>
     <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#paperTableByTypeAndResult').DataTable();
        });

    </script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <script>
        $('#statusPaper').select2();
        $('#typePaper').select2();
    </script>


</body>

</html>