<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scientist - Paper</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <%- include('./sidebar', {active_bar: 'Paper'}) %>

        <!-- end side bar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <%- include('../layout/topbar'); %>
                <div class="container-fluid">        
                    <div class="card-header py-3 d-flex justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Paper detail</h6>                            
                    </div>       
                    
                    <form action="/views/editor/updatePaper" method="POST">
                        <div class="row">
                            <% if (paper.status == 'POSTED' || paper.status == 'PUBLICATION') { %>                                
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="id">ID:</label>
                                        <input type="text" class="form-control" id="id" name="id"
                                            value="<%= paper.id %>" readonly/>                                    
                                    </div>
                                    <div class="form-group">
                                        <label for="title">Title:</label>
                                        <input type="text" class="form-control" id="title" name="title"
                                            value="<%= paper.title %>" readonly/>
                                        
                                    </div>
                                    
    
                                    <div class="form-group">
                                        <label for="date">Date sent:</label>
                                        <input type="text" class="form-control" id="date" name="date"
                                            value="<%= paper.sent_date.substring(0,10)%>" readonly/>
                                    </div>  
                                                                    
                                    <div class="form-group">
                                        <label for="status">Status:</label>
                                        <input type="text" class="form-control" id="status_if" name="status" value="<%= paper.status %>" readonly/>
                                    </div> 

                                    <div class="form-group">
                                        <label for="paper_result">Result:</label>
                                        <input type="text" class="form-control" id="paper_result" name="paper_result" value="<%= paper_result.result %>" readonly/>
                                    </div> 
                                    
                                </div>
                            
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="file">File:</label>
                                        <input type="text" class="form-control" id="file"
                                            name="file" value="<%= paper.associated_file%>" readonly/>
                                    </div>
                                    <div class="form-group">
                                        <label for="pagenums">Page numbers:</label>
                                        <input type="text" class="form-control" id="pagenums" name="pagenums"
                                            value="<%= paper.page_count %>"  readonly/>                                    
                                    </div>
    
                                    <div class="form-group">
                                        <label for="author">Author:</label>                                                        
                                        <input type="text" class="form-control" id="author" name="author"
                                            value="<%= authors.map(a=>a.author_id).join(', ') %>" readonly />
                                    </div>
                                                                                    
                                    <div class="form-floating w-100">
                                        <label for="summary">Summary:</label>
                                        <textarea class="form-control" id="summary"
                                            name="summary" placeholder="<%= paper.summary%>" style="height: 100px;"  readonly><%= paper.summary%></textarea>                                    
                                    </div>                                                    
                                </div>
                                  
                            <% } else { %>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="id">ID:</label>
                                        <input type="text" class="form-control" id="id" name="id"
                                            value="<%= paper.id %>" readonly/>                                    
                                    </div>
                                    <div class="form-group">
                                        <label for="title">Title:</label>
                                        <input type="text" class="form-control" id="title" name="title"
                                            value="<%= paper.title %>"/>
                                        
                                    </div>
                                    
    
                                    <div class="form-group">
                                        <label for="date">Date sent:</label>
                                        <input type="text" class="form-control" id="date" name="date"
                                            value="<%= paper.sent_date.substring(0,10)%>" readonly/>
                                    </div>  
                                    <!-- UNSOLVED_REVIEW', 'REVIEW', 'RESPOND_REVIEW', 'COMPLETE_REVIEW', 'PUBLICATION', 'POSTED')         -->
                                    <div class="form-group">
                                        <label for="status">Status:</label>
                                        <select name="status" id="status" style="width: 100%">
                                            <option value="<%= paper.status %>"><%= paper.status %></option>  
                                                <% if (paper.status != 'UNSOLVED_REVIEW') { %>                                      
                                                    <option value="UNSOLVED_REVIEW"> UNSOLVED_REVIEW </option>
                                                <% } %>  
                                                <% if (paper.status != 'REVIEW') { %>                                      
                                                    <option value="REVIEW"> REVIEW </option>
                                                <% } %>  
                                                <% if (paper.status != 'RESPOND_REVIEW') { %>                                      
                                                    <option value="RESPOND_REVIEW"> RESPOND_REVIEW </option>
                                                <% } %>  
                                                <% if (paper.status != 'COMPLETE_REVIEW') { %>                                      
                                                    <option value="COMPLETE_REVIEW"> COMPLETE_REVIEW </option>
                                                <% } %>  
                                                <% if (paper.status != 'PUBLICATION') { %>                                      
                                                    <option value="PUBLICATION"> PUBLICATION </option>
                                                <% } %>   
                                                <% if (paper.status != 'POSTED') { %>                                      
                                                    <option value="POSTED"> POSTED </option>
                                                <% } %>                             
                                        </select>
                                    </div> 
                                    <!-- ENUM('REJECTION', 'MINNOR_REVISION', 'MAJOR_REVISION', 'ACCEPTANCE') -->
                                    <% if (paper.status == 'RESPOND_REVIEW') {%>
                                        <div class="form-group">
                                            <label for="paper_result">Result:</label>
                                            <select name="paper_result" id="paper_result_select" style="width: 100%">
                                                <option value="-1">Select result of paper</option> 
                                                <option value="REJECTION">REJECTION</option> 
                                                <option value="MINNOR_REVISION">MINNOR_REVISION</option> 
                                                <option value="MAJOR_REVISION">MAJOR_REVISION</option> 
                                                <option value="ACCEPTANCE">ACCEPTANCE</option>                                                                                                               
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="inform-date">Inform date (YYYY-MM-DD)</label> <br>                                            
                                            <input style="width: 100%;" class="form-control" id="inform-date" type="text" name="inform_date" value="" />
                                         
                                                        <% if(typeof alert !='undefined' ) { %>
                                                            <% for (var i=0; i < alert.length; i++) { console.log('a', alert[i].param); %>
                                                                <% if (alert[i].param=='inform_date' ) { console.log('cde');%>
                                                                    <p style="color: red; margin-top: 5px;">
                                                                        <%= alert[i].msg %>
                                                                    </p>
                                                                    <% } %>
                                                                        <% } %>
                                                                            <% } %>
                                        </div>                                    
                                    <% } else { %>
                                        <div class="form-group">
                                            <label for="paper_result">Result:</label>
                                            <% if (paper_result == undefined || paper_result == null) { %>
                                                <input type="text" class="form-control" id="paper_result" name="paper_result" value="" readonly/>
                                            <% } else { %>
                                                <input type="text" class="form-control" id="paper_result" name="paper_result" value="<%= paper_result.result %>" readonly/>
                                            <% } %>
                                            
                                        </div>
                                        <div class="form-group">
                                            <label for="inform-date">Inform date (YYYY-MM-DD)</label> <br>
                                            <% if (paper_result == null || paper_result.inform_date == null || (paper_result.inform_date != null && paper_result.inform_date.length == 0 ) || paper_result.inform_date == '') { %>                                                                                             
                                                <input style="width: 100%;" class="form-control" id ="inform_date" type="text" name="inform_date" readonly/>                                                 
                                            <% } else { %>
                                                <input style="width: 100%;" class="form-control" id ="inform_date" type="text" name="inform_date" value="<%= paper_result.inform_date.substring(0, 10) %>" readonly/>
                                            <% } %>                                                                                        
                                        <% if(typeof alert !='undefined' ) { %>
                                            <% for (var i=0; i < alert.length; i++) { console.log('a', alert[i].param); %>
                                                <% if (alert[i].param=='inform_date' ) { console.log('cde');%>
                                                    <p style="color: red; margin-top: 5px;">
                                                        <%= alert[i].msg %>
                                                    </p>
                                                    <% } %>
                                                        <% } %>
                                                            <% } %>
                                        </div>      
                                    <% } %>

                                    
                                    
                                </div>
                            
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="file">File:</label>
                                        <input type="text" class="form-control" id="file"
                                            name="file" value="<%= paper.associated_file%>"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="pagenums">Page numbers:</label>
                                        <input type="text" class="form-control" id="pagenums" name="pagenums"
                                            value="<%= paper.page_count %>" />                                    
                                    </div>
    
                                    <div class="form-group">
                                        <label for="author">Author:</label>                                                        
                                        <input type="text" class="form-control" id="author" name="author"
                                            value="<%= authors.map(x => x.author_id).join(', ') %>" readonly />
                                    </div>
                                                                                    
                                    <div class="form-floating">
                                        <label for="summary">Summary:</label>
                                        <textarea class="form-control textarea_paper" id="summary"
                                            name="summary" style="height: 100px !important;"><%= paper.summary%></textarea>                                    
                                    </div>                                                    
                                </div>
                                                             
                                  
                            <% } %>
                            
                            
                        </div>
                        <% if (paper.status != 'POSTED' && paper.status != 'PUBLICATION') { %>    
                            <div class="d-grid gap-2 d-md-flex justify-content-center" style="margin-top: 20px;">
                                <button id='add-paper' class="btn btn-info me-md-2" type="submit" style="margin-right: 5px;">Update</button>                            
                            </div>   
                        <% } %>
                        
                    </form>
                </div>
            </div>
            

            <footer class="sticky-footer bg-white">
                <%- include('../layout/footer') %>
            </footer>
        </div>
    </div>



    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plu/gin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom s/cripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script>
        $('#status').select2();
        $('#paper_result_select').select2();
    </script>

</body>

</html>